.wrapper .mainContent.faqPageContent {
  background: transparent;
  padding: 0;

}
.mainContent.faqPageContent {
  @include flexbox();
  //min-height: calc(100% - 100px);
  .catRightBlock {
    width: 266px;
    min-width: 266px;
    margin-left: 15px;
    .faqSearchBlock {
      position: relative;
    }
    .catMenuBlock {
      padding: 25px 30px;
      background: #FFFFFF;
      @include border-radius(5px);
      margin-top: 28px;
      .heading {
        font-weight: bold;
        font-size: 20px;
        color: #3B4A51;
        margin: 0 0 20px 0;
        @include flexbox();
        @include align-items(center);
        @include justify-content(space-between);
        .showCatsOnMob {
          display: none;
          width: 28px;
          min-width: 28px;
          height: 28px;
          @include border-radius(5px);
          position: relative;
          left: 17px;
          background: url("../images/selectDropIcon.svg") center center no-repeat #F8F8F8;
          
          &.active {
            -webkit-transform: matrix(1, 0, 0, -1, 0, 0);
            -moz-transform: matrix(1, 0, 0, -1, 0, 0);
            -ms-transform: matrix(1, 0, 0, -1, 0, 0);
            -o-transform: matrix(1, 0, 0, -1, 0, 0);
            transform: matrix(1, 0, 0, -1, 0, 0);
          }
        }
      }
      ul {
        margin: 0;
        padding: 0;
        li {
          display: block;
          list-style: none;
          margin-bottom: 20px;
          a {
            font-size: 14px;
            display: block;
            color: #3B4A51;
            -webkit-transition: all .3s;
            -moz-transition: all .3s;
            -ms-transition: all .3s;
            -o-transition: all .3s;
            transition: all .3s;
            &.active,&:hover,&:focus,&:active {

              color: #3DC98A;
            }
            &.active {
              font-weight: 600;
            }
          }
        }
      }
    }
  }
  .faqContentBlock {
    @include flex(auto);
    background: #FFFFFF;
    @include border-radius(5px);
    padding: 50px 30px;
    .subheading {
      padding: 0;
      margin: 0 0 27px;
      font-weight: bold;
      font-size: 24px;
      color: #C0C9CD;
    }

  }
}
@media (min-width: 767.34px) {
  .mainContent.faqPageContent .catRightBlock .catMenuBlock ul {
    display: block ;
  }
}
@media (max-width: 767.33px) {
  .mainContent.faqPageContent {
    @include flex-direction(column-reverse);
  }
  .mainContent.faqPageContent .catRightBlock {
    min-width: 100%;
    width: 100%;
    @include flex(auto);
    margin-left: 0;
  }
  .mainContent.faqPageContent .catRightBlock .catMenuBlock .heading {
    cursor: pointer;
    margin-bottom: 0;
  }
  .mainContent.faqPageContent .catRightBlock .catMenuBlock .heading .showCatsOnMob {
    display: block;
  }
  .mainContent.faqPageContent .catRightBlock .catMenuBlock ul {
    display: none;
    margin-top: 20px;
  }
  .mainContent.faqPageContent {
    min-height: auto;
  }
  .mainContent.faqPageContent .faqContentBlock {
    margin-top: 24px;
  }
  .faqContentBlock h1 {
    display: none;
  }

}