.main{
  display: flex;
  flex-direction: row-reverse;
  flex-grow: 1;
  @media screen and (max-width: 1200px) {
    display: block;
  }
}
.content{
  width: calc(100% - 255px);
  @media screen and (max-width: 1200px) {
    width: 100%;
  }
}
.section{
  background: #fff;
  border-radius: 15px;
  padding: 30px;
  @media screen and (max-width: 767px) {
    padding: 20px 20px;
  }
}