.mainContent .addsList .singleAddBlock .inner .mainAddImage {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 66.87%;
  height: auto;
}

.mainContent .addsList .singleAddBlock .inner .mainAddImage img {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.mainContent .addsList .singleAddBlock .inner .preText {
  -ms-word-break: break-all;
  word-break: break-all;
  text-align: left;
}

@media (min-width: 1400px) {
  .mainContent .addsList .singleAddBlock > .inner {
    width: 100%;
    height: 100%;
  }

  .mainContent .addsList {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -moz-box-align: stretch;
    -ms-flex-align: stretch;
    -webkit-align-items: stretch;
    align-items: stretch;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
  }

  .mainContent .addsList .singleAddBlock .inner .preText {
    margin-top: 25px;
  }

  .mainContent .addsList .singleAddBlock {
    flex-shrink: 0;
    width: 18%;
  }

  .mainContent .addsList .singleAddBlock .inner .mainAddImage {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.addsList .singleAddBlock .inner .addDate {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 0;
  margin-left: 0;
}

.add-date--from, .add-date--to {
  background: url("../images/calendar.svg") left top 5px no-repeat;
  background-size: 11px;
  padding-left: 14px;
  line-height: 25px;
}

.addsList .singleAddBlock .inner {
  padding-left: 10px;
  padding-right: 10px;
}

.paginationBlock ul li.pageNum.active span, .paginationBlock ul li.pageNum.active a {
  width: auto !important;
}

.addsList .singleAddBlock .inner .addHeading .headingBl {
  margin-left: 0;
}

.addsList .singleAddBlock .inner .addHeading .imgLabelBl {
  margin-right: 14px;
}

.addsList .singleAddBlock .inner .addHeading {
  height: 57px;
}

.tooltip-inner {
  text-align: left;
  padding: 0.5rem 0.5rem;
}
.tooltip-inner .text {
  display: block;
  margin-bottom: 10px;
  text-align: center;
}
.tooltip-inner .copy {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #acb1b6;
  margin-right: 10px;
  padding: 4px 10px;
  cursor: pointer;
}
.tooltip-inner .copied {
  border-radius: 4px;
  border: 1px solid #acb1b6;
  margin-right: 10px;
  padding: 4px 10px;
  cursor: pointer;
  display: none;
}

@media (min-width: 1800px) {
  .mainContent .addsList .singleAddBlock {
    flex-shrink: 0;
    width: 15%;
  }
}

/*# sourceMappingURL=fix.css.map */
