.singleOfferContentBlock {
  .backToOfferBlock {
    margin-bottom: 37px;
    a {
      display: inline-block;
      @include border-radius(3px);
      font-size: 13px;
      color: #3B4A51;
      height: 30px;
      line-height: 30px;
      background: url("../images/backArrow.svg") left 18px center no-repeat #E8EEF1;
      padding: 0 20px 0 34px;
      &:hover,&:active,&:focus {
        color: #3DC98A;
      }
    }
  }

  .offerInfoBlock {
    @include flexbox();
    .logoBlock {
      width: 118px;
      min-width: 118px;
      margin-right: 22px;
      img {
        max-width: 100%;
      }
    }
    .infoBlock {
      .heading {
        font-weight: 600;
        font-size: 26px;
        line-height: 32px;
        color: #3B4A51;
      }
      .infoListBlock {
        @include flexbox();
        @include flex-wrap(wrap);
        margin: 15px 0;
        .sOfferInfo {
          border-right: 2px solid #3B4A51;
          &:last-child {
            border-right: none;
          }
          padding-right: 10px;
          padding-left: 10px;

          .name {
            font-size: 14px;
            color: #3B4A51;
          }
          .val {
            font-weight: 600;
            font-size: 14px;
            color: #3B4A51;

          }
        }
      }

      .descrBlock {
        .heading {
          font-weight: 600;
          font-size: 14px;
          color: #3B4A51;
        }
        .text {
          font-size: 14px;
          color: #3B4A51;
        }
      }
    }
  }

  .offerStatBlock {
    margin-top: 30px;
    @include flexbox();
    border: 2px solid #ECEFF1;

    @include align-items(stretch);
    .dateBlock {
      width: 50%;
      min-width: 50%;
      border-right: 1px solid #ECEFF1;
      text-align: center;
      padding: 40px 0;
      .heading {
        font-weight: 300;
        font-size: 12px;
        line-height: 26px;
        color: #3B4A51;
      }
      .text {
        font-weight: 600;
        font-size: 18px;
        color: #9BAAB0;
        &.lastDate {
          color: #3B4A51;
        }
      }
    }
    .tizStatBlock {
      padding: 40px 0;
      width: 50%;
      min-width: 50%;
      border-left: 1px solid #ECEFF1;
      text-align: center;
      .heading {
        font-weight: 300;
        font-size: 12px;
        line-height: 26px;
        color: #3B4A51;
      }
      .text {
        font-weight: 600;
        font-size: 18px;
        color: #3B4A51;
      }
    }
  }

  .sOfferFilterBlock {

    background: #EBF0F3;
    @include border-radius(5px);
    padding: 30px 20px 20px 20px;
    margin-top: 31px;
    form {
      @include flexbox();
      @include flex-wrap(wrap);
      @include align-items(flex-end);
      & > div {
        margin-bottom: 10px;
      }

    }
    .selectBlock {
      padding-right: 14px;
      @include flex(auto);
      min-width: 180px;
      .text {
        font-weight: 600;
        font-size: 13px;
        color: #3B4A51;

      }
    }
    .btnBlock {
      @include flexbox();
      @include align-items(flex-end);
      .text {
        font-weight: 600;
        font-size: 13px;
        color: #3B4A51;
      }
      .btnTrash {
        width: 50px;
        min-width: 50px;
        height: 48px;

        border: 1px solid #F5DCDC;
        @include border-radius(5px);
        background: url("../images/trashIcon.svg") center center no-repeat #FFEFEF;
        margin-left: 14px;
      }
    }
    .checkboxBlock {
      position: relative;
      label {
        display: block;
      }
      input {
        position: absolute;
        opacity: 0;
        &:checked + .visibleElement {
          background: url("../images/statusCheck_active.svg") center center no-repeat #fff;
        }
      }
      .visibleElement {
        cursor: pointer;
        border: 1px solid #EFF3F5;
        @include border-radius(5px);
        width: 58px;
        min-width: 58px;
        height: 48px;
        background: url("../images/statusCheck.svg") center center no-repeat #fff;
      }
    }
  }

  .sOfferMenuBlock {
    overflow: auto;
    margin-top: 32px;
    padding-bottom: 10px;
    @include flexbox();
    .elem {
      white-space: nowrap;
      height: 48px;
      line-height: 48px;
      background: #fff;
      @include border-radius(5px);
      font-weight: 300;
      font-size: 14px;
      color: #3B4A51;
      padding: 0 27px;
      margin-right: 10px;
      &:hover {
        background: #3DC98A;
        color: #FFFFFF;
      }
      &.active {
        background: #3DC98A;
        @include border-radius(5px);
        position: relative;
        font-weight: 500;
        color: #FFFFFF;
        &:after {
          position: absolute;
          content: '';
          left: 50%;
          margin-left: -2.5px;
          bottom: -10px;
          border: 5px solid transparent;
          border-top: 5px solid #3DC98A;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .singleOfferContentBlock .offerStatBlock {
    @include flex-wrap(wrap);
    .dateBlock,.tizStatBlock {
      width: 100%;
      min-width: 100%;
      border-left: none;
      border-right: none;
    }
    .dateBlock {
      border-bottom: 2px solid #ECEFF1;
    }
  }
  .singleOfferContentBlock .offerInfoBlock {
    display: block;
    text-align: center;
  }
  .singleOfferContentBlock .offerInfoBlock .logoBlock {
    margin: 0 auto 20px auto;
  }
  .singleOfferContentBlock .offerInfoBlock .infoBlock .infoListBlock {
    display: block;
  }
  .singleOfferContentBlock .offerInfoBlock .infoBlock .infoListBlock .sOfferInfo {
    border: none;
    text-align: left;
  }
  .singleOfferContentBlock  .descrBlock {
    text-align: left;
  }
}