.creatives-main-row {
  @include flexbox();
  @include justify-content(space-between);
  @include align-items(stretch);
  //max-width: 1400px;
  //margin: 0 auto;
}
.creative-default-block {
  flex-shrink: 0;
  width: calc(50% - 205px);
  background: #fff;
  border-radius: 5px;
  padding: 20px 27px;
}
.creative-preview {
  width: 366px;
}
.creative-preview--heading {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #3B4A51;
  margin-bottom: 20px;
}
.creative-preview--buttons {
  @include flexbox();
  @include justify-content(center);
  @include align-items(flex-start);
  margin-bottom: 20px;
}
.creative-preview--button {
  background: #F1F5F6;
  border-radius: 3px;
  height: 30px;
  line-height: 30px;
  padding: 0 19px;
  font-weight: 300;
  font-size: 13px;
  text-align: center;
  color: #3B4A51;
  cursor: pointer;
  &:first-child {
    margin-right: 12px;
  }
  &.active {
    background: #3DC98A;
    position: relative;
    color: #fff;
    font-weight: 500;
    &:after {
      content: '';
      position: absolute;
      left: 50%;
      bottom: -10px;
      margin-left: -2.5px;
      border: 5px solid transparent;
      border-top: 5px solid #3DC98A;
    }
  }
}
.creative-preview--demo {
  position: relative;
  img {
    opacity: 0;
    width: 100%;
  }
  img.active {
      opacity: 1;
  }
  img:first-child {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}
.creative-preview-add {
  display: none;
  &.active {
    display: block;
  }
}
.creative-preview-add--image {
  position: absolute;
  top: 13px;
  left: 13px;
  right: 13px;
  height: calc(100% - 15% - 20px);
  overflow: hidden;
  img {
    opacity: 1;
    position: relative !important;
  }
}
.creative-preview-add-row {
  position: absolute;
  bottom: 15%;
  overflow: hidden;
  height: 77px;
  left: 13px;
  right: 13px;
  background: #202020;
  padding: 20px;
  @include flexbox();
  @include align-items(flex-start);
  @include justify-content(flex-start);
}
.creative-preview-add--thumb {
  flex-shrink: 0;
  width: 44px;
  height: 44px;
  overflow: hidden;
  margin-right: 12px;
  img {
    position: relative !important;
    opacity: 1;
    width: 100% !important;
  }
}
.creative-preview-add--title {
  color: #fff;
  font-size: 12px;
  margin-bottom: 6px;
}
.creative-preview-add--text {
  color: #858A8A;
  font-weight: 300;
  font-size: 10px;
  line-height: 12px;
}
.creative-preview-add-mobile {
  .creative-preview-add-row {
    @include flex-direction(row-reverse);
    bottom: auto;
    top: 17%;
    background: #FFFFFF;
    left: 20px;
    right: 20px;
  }
  .creative-preview-add--thumb {
    margin-left: 12px;
    margin-right: 0;
  }
  .creative-preview-add--image {
    top: auto;
    bottom: 13px;
    height: calc(100% - 15% - 80px);
    left: 20px;
    right: 20px;
  }
  .creative-preview-add--title {
    color: #3B4A51;
  }
  .creative-preview-add--text {
    color: #3B4A51;
  }
}
.creative-info--favorite {
  display:  inline-flex;
  @include justify-content(flex-start);
  @include align-items(center);
  background: #F3FDF8;
  border-radius: 3px;
  font-weight: 500;
  font-size: 13px;
  line-height: 38px;
  height: 38px;
  padding: 0  20px;
  color: #3DC98A;
  margin-bottom: 20px;
  transition: all .4s;
}
.creative-info--favorite-icon {
  flex-shrink: 0;
  width: 16px;
  height: 14px;
  background: url(../images/hearth.svg) center center no-repeat;
  background-size: cover;
  margin-right: 14px;

}
.creative-info--favorite:hover {
  background: #3DC98A;
  color: #fff;
  .creative-info--favorite-icon {
    background: url(../images/hearth_white.svg) center center no-repeat;
  }
}
.creative-info--row {
  @include flexbox();
  @include justify-content(flex-start);
  @include align-items(flex-start);
  margin-bottom: 10px;
}

.creative-info--key{
  font-weight: 500;
  font-size: 13px;
  color: #3B4A51;
  line-height: 16px;
  margin-right: 10px;
}
.creative-info--val{
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #3B4A51;

}

.creative-info--actions {
  margin-top: 21px;
}
.creative-info--actions-heading {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #3B4A51;
  margin-bottom: 10px;
}
.creative-info--actions-row {
  @include flexbox();
  @include justify-content(flex-start);
  @include align-items(flex-start);
}
.creative-info--action {

  border: 1px solid #3DC98A;
  border-radius: 3px;
  height: 30px;
  line-height: 30px;
  padding: 0 16px 0 36px;

  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  color: #3DC98A;
  margin-right: 10px;
  transition: all .4s;
  &:last-child {
    margin-right: 0;
  }

}
.creative-info--action-download {
  background: url("../images/download_green.svg") left 16px center no-repeat rgba(243, 253, 248, 0.7);
  &:hover {
    background: url("../images/download_white.svg") left 16px center no-repeat #3DC98A;
    color: #fff;
  }
}
.creative-info--action-open {
  background: url("../images/open_green.svg") left 16px center no-repeat rgba(243, 253, 248, 0.7);
  &:hover {
    background: url("../images/open_white.svg") left 16px center no-repeat #3DC98A;
    color: #fff;
  }
}


.creative-redirects--item {
  position: relative;
  border-bottom: 2px solid #F6F8F9;
  margin-bottom: 21px;
  &:last-child {
    margin-bottom: 0;
    border: none;
  }
}
.creative-redirects--heading {
  @include flexbox();
  @include justify-content(flex-start);
  @include align-items(center);
  margin-bottom: 17px;
}
.creative-redirects--flag {
  margin-right: 12px;
  img {
    max-width: 100%;
  }
}
.creative-redirects--text {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #3B4A51;
}
.creative-redirects--toggle {
  cursor: pointer;
  right: 20px;
  top: 0px;
  position: absolute;
  width: 28px;
  height: 28px;
  @include flexbox();
  @include justify-content(center);
  @include align-items(center);
  background: #F0FDF7;
  border-radius: 5px;
  svg {
    stroke: #3DC98A;
    stroke-width: 1px;
  }
}
.creative-redirects--list {
  overflow: auto;
}
.creative-redirects--item.active {
  .creative-redirects--toggle {
    background: rgba(243, 245, 245, 0.7);
    svg {
      transform: rotate(-180deg);
      stroke: #5F717A;
    }
  }
  .creative-redirects--block {
    display: block;
  }

}
.creative-redirects--block {
  display: none;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #639A81;
  a {
    color: #639A81
  }
  li {
    margin-bottom: 5px;
  }
}
.related-creatives {

  //max-width: 1400px;
  margin: 60px auto 0 auto;
}
.related-creatives--heading {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #3B4A51;
  position: relative;
  top: 35px;
}
.swiper-container.addsList {
  padding-top: 60px;
  .swiper-button-prev,
  .swiper-button-next {
    top: 30px;
    left: auto;
    right: 0;
    border-radius: 6px;
    width: 34px;
    height: 34px;
    background: url("../images/catArrowWhite.svg") center center no-repeat #3DC98A;
    &:after {
      content: none !important;

    }
  }

  .swiper-button-prev {
    right: 40px;
    transform: rotate(270deg);
  }
  .swiper-button-next {
    transform: rotate(90deg);
  }
  .singleAddBlock .inner {
    width: 100% !important;
  }
}
.preload-remove {
  max-height: 100px;
  opacity: 0;
}


@media (max-width: 1076px) {
  .creatives-main-row {
    flex-wrap: wrap;
  }
  .creative-default-block {
    margin-bottom: 30px;
  }

  .creative-info {
    width: auto;
    flex: auto;
    margin-left: 25px;
  }
  .creative-redirects {
    width: 100%;
  }
}
@media (max-width: 800px) {
  .creative-info,.creative-preview {
    margin-left: 0;
    width: 100%;
  }
  .creative-preview--demo {
    max-width: 366px;
    margin: 0 auto;
  }
}
@media (max-width: 600px) {
  .creative-preview,
  .creative-info {
    width: 100%
  }
}