.mainContent.ProfilePageContent {
  background: #fff;
}
.profileMenuBl  {
  @include flexbox();
  @include align-items(center);
  a {
    font-weight: 600;
    font-size: 16px;
    color: #B0B5B8;
    position: relative;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    margin-left: 50px;
    &:after {
      content: "";
      display: block;
      height: 1px;
      position: relative;
      top: 10px;
      background: #3DC98A;
      width: 0;
    }
    &:first-child {
      margin-left: 0;
    }
    &.active {
      color: #3DC98A;
      &:after {
        width: 100%;
        -webkit-animation-duration: 0s;
        -moz-animation-duration: 0s;
        -o-animation-duration: 0s;
        animation-duration: 0s;
      }
      &:hover,
      &:active,
      &:focus {
        &:after {
          -webkit-animation-duration: 0s;
          -moz-animation-duration: 0s;
          -o-animation-duration: 0s;
          animation-duration: 0s;
        }

      }
    }
    &:hover,
    &:active,
    &:focus {
      color: #3DC98A;
      &:after {
        width: 100%;
        -webkit-animation-name: showBorder;
        -moz-animation-name: showBorder;
        -o-animation-name: showBorder;
        animation-name: showBorder;
        -webkit-animation-duration: .5s;
        -moz-animation-duration: .5s;
        -o-animation-duration: .5s;
        animation-duration: .5s;
      }
    }
  }
}

.profileContent {
  .inner {
    & > div {
      display: none;

      &.active {
        display: block;
      }
    }
  }
}


@keyframes showBorder {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.profileContent .personalInfoBl {
    .profileInfoBL {
      margin-top: 54px;
      @include flexbox();
      @include align-items(center);
      .profileThumb {
        width: 114px;
        min-width: 114px;
        height: 114px;
        @include border-radius(50%);
        background: url(../images/bigUser2.svg) center center no-repeat #F6F8F9;
        margin-right: 15px;
        overflow: hidden;
        img {
          width: 100%;
        }
      }
      input[type='file'] {
        display: none;
      }
      .textUploaded {
        display: none;
      }
      label {
        cursor: pointer;
        &.fileSelected {
          .textUploaded {
            display: block;
          }
          .text {
            display: none;
          }
          .cancelFile {
            font-weight: 500;
            font-size: 12px;
            cursor: pointer;
            color: #3DC98A;
          }
        }
      }
      .text {
        font-weight: 500;
        font-size: 12px;
        color: #3DC98A;
        .dimension {
          color: #BCC5C9;
          display: block;
          margin-top: 5px;
        }
      }
    }

   .formElements {
     margin-top: 65px;
     label {
       @include flexbox();
       @include align-items(center);

        margin-bottom: 15px;
       .text {
         width: 100px;
         min-width: 100px;
         font-weight: 600;
         font-size: 14px;
         color: #3B4A51;
       }
       .inputBlock {
         @include flex(auto);
         input {
           width: 359px;
           max-width: 100%;
           &.btn {
             width: auto;
             height: 46px;
             line-height: 46px;
             font-size: 14px;
             padding: 0 27px;
             margin-top: 42px;
           }
         }

       }
     }
   }
}


.profileContent .passChangeBl {
  .formElements {
    margin-top: 65px;
    label {
      @include flexbox();
      @include align-items(center);

      margin-bottom: 15px;
      .text {
        width: 170px;
        min-width: 170px;
        font-weight: 600;
        font-size: 14px;
        color: #3B4A51;
      }
      .inputBlock {
        @include flex(auto);
        input {

          width: 359px;
          max-width: 100%;
          &.btn {
            width: auto;
            height: 46px;
            line-height: 46px;
            font-size: 14px;
            padding: 0 27px;
            margin-top: 42px;
          }
        }
      }
    }
  }
}


@media (max-width: 767.33px) {
  .profileMenuBl a {
    font-size: 14px;
  }
  .profileContent .personalInfoBl .formElements label,
  .profileContent .passChangeBl .formElements label {
    display: block;
    .text {
      margin-bottom: 5px;
    }
    input[type='text'], input[type='password']{
      width: 100%;
    }

  }
  .profileContent .personalInfoBl .formElements label .inputBlock input.btn,
  .profileContent .passChangeBl .formElements label .inputBlock input.btn {
    width: 100%;
    text-align: center;
  }
  .profileContent .personalInfoBl .profileInfoBL {
    @include justify-content(center);

  }
  .wrapper .mainContent.ProfilePageContent {
    padding: 30px 0;
    background: transparent;
    h1 {
      text-align: center;
    }
    .profileContent{
      background: #fff;
      padding: 0 20px 42px 20px;
      @include border-radius(5px);
      margin-top: 30px;
    }

  }
  .profileContent .personalInfoBl .profileInfoBL {
    margin-top: 20px;
  }
  .personalInfoBl,
  .passChangeBl  {
    padding-top: 20px;
  }
  .profileContent .passChangeBl .formElements {
    margin-top: 0;
  }
}