.btn{
  &._flex{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    height: 50px;
    font-size: 14px;
    font-weight: 500;
    padding: 0 25px;
    &:disabled{
      pointer-events: none;
      opacity: .35;
    }
    &:focus{
      opacity: 1;
    }
  }
  &._border-green{
    border: 1px solid #3DC98A;
    background: 0;
    color: #3DC98A;
    &>span{
      position: relative;
      transition: padding .3s;
    }
    .icon-more{
      opacity: 0;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-40%);
      transition: opacity .3s;
    }
    &:hover{
      background: #3DC98A;
      color: #fff;
      &>span{
        padding-right: 30px;
      }
      .icon-more{
        opacity: 1;
      }
    }
  }
  &._green{
    background: #3DC98A;
    color: #fff;
  }
  &._green2{
    background: rgba(61, 201, 138, 0.25);
    color: #fff;
    [class^="icon-"],
    [class*=" icon-"] {
      color: $main;
    }
  }
  &._gray{
    background: #F3F5F6;
    color: #3B4A51;
    opacity: 1;
    &:hover{
      background: darken(#F3F5F6, 2%);
    }
    &:active{
      background: darken(#F3F5F6, 3%);
    }

    &.active{
      background: #DAE2E6;
    }
  }
  &._gray2{
    background: #FAFAFA;
    color: #3B4A51;
    opacity: 1;
    &:hover{
      background: darken(#FAFAFA, 2%);
    }
    &:active{
      background: darken(#FAFAFA, 3%);
    }
  }
  &._code{
    border-radius: 5px;
    border: 1px dashed #A0ADB2;
    background: #FAFBFC;
    color: #677378;
  }
  .icon-more{
    font-size: .7em;
  }
  .icon-download{
    font-size: 1.2em;
  }


  &._big{
    height: 57px;
    padding: 0 30px;
    font-weight: 700;
    font-size: 16px;
  }
  &._medium{
    height: 40px;
    padding: 0 15px;
  }
  &._small{
    height: 34px;
    border-radius: 7px;
    padding: 0 15px;
    font-size: 13px;
  }
  &._dark{
    background: #334044;
    color: #D7E0E4;
    &:hover{
      background: #4C5C60;
    }
    &:active{
      background: lighten(#4C5C60, 2%);
    }
  }
  &._blue{
    background: #5183B5;
    color: #fff;
    &:hover{
      background: darken(#5183B5, 10%);
    }
  }

  .btn__count{
    height: 26px;
    display: flex;
    align-items: center;
    padding: 0 5px;
    background: #FFD262;
    margin-left: 11px;
    border-radius: 5px;
    position: relative;
    font-weight: 600;
    font-size: 12px;
    &:after{
      @extend .a;
      width: 8px;
      height: 8px;
      background: #FFD262;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translate(-50%, -50%) rotate(-45deg);
      border-radius: 3px 0 0 0;
      transition: .3s;
    }
  }
}

.btn.copy-btn{
  height: 24px;
  border-radius: 5px;
  font-size: 11px;
  padding: 0 8px;
  gap: 4px;
  min-width: 62px;
  position: relative;
  &:focus{
    opacity: 1;
  }
  .copy-btn__copied{
    position: absolute;
    inset: 0;
    display: grid;
    place-items: center;
    background: $main;
    border-radius: 5px;
    visibility: hidden;
  }
  &.copied-success{
    .copy-btn__copied{
      visibility: visible;
    }
  }
}

.btn-icon{
  appearance: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  width: 34px;
  height: 34px;
  border-radius: 7px;
  background: #F3F5F5;
  color: #7A8488;
  font-size: 16px;
  outline: none !important;
  transition: background .3s, color .3s, border .3s;
  position: relative;
  cursor: pointer;
  &:hover{
    background: darken(#F3F5F5, 5%);
  }
  &:active{
    background: darken(#F3F5F5, 2%);
  }
  &.icon-download{
    background: #EEF9F4;
    color: #3DC98A;
    &:hover{
      background: darken(#EEF9F4, 5%);
    }
    &:active{
      background: darken(#EEF9F4, 2%);
    }
  }
  &._green{
    background: $main;
    color: #fff;
    &:hover{
      background: darken($main, 5%);
    }
    &:active{
      background: darken($main, 2%);
    }
  }
  &._dark{
    background: #334044;
    color: #D7E0E4;
    &:hover{
      background: #4C5C60;
    }
    &:active{
      background: lighten(#4C5C60, 2%);
    }
  }
  &._black{
    background: #1D2426;
    color: #D7E0E4;
    &:hover{
      background: #4C5C60;
    }
    &:active{
      background: lighten(#4C5C60, 2%);
    }
  }
  &._gray{
    background: #F3F5F6;
    &:hover{
      background: darken(#F3F5F6, 4%);
    }
    &:active{
      background: darken(#4C5C60, 2%);
    }
  }
  &._gray2{
    background: #E6EAEC;
    &:hover{
      background: darken(#E6EAEC, 4%);
    }
    &:active{
      background: darken(#E6EAEC, 2%);
    }

  }
  &._white{
    box-shadow: 0px 2px 15px 0px #E7EAEC;
    background: #fff;
    &:hover{
      color: $main;
    }
  }

  &._border-gray{
    background: transparent;
    border: 1px solid #CED8DB;
    color: inherit;
    &:hover{
      border-color: darken(#CED8DB, 20%);
    }
  }

  &._transparent{
    background: transparent;
    color: #939EA2;
    &:hover{
      background: rgba(255,255,255,.1);
    }
  }

  &._filter{
    .icon-up{
      display: none;
    }
    &.active{
      background: #848F92;
      color: #fff;
      [class^="icon-"],
      [class*=" icon-"] {
        display: none;
      }
      .icon-up{
        display: block;
      }
    }
  }

  &.copied-success{
    border-color: $main !important;
    background: $main !important;
    color: #fff;
    .icon-copy,
    .icon-copy2{
      display: none;
    }
    .icon-check{
      display: block !important;
    }
  }


  &._big{
    width: 40px;
    height: 40px;
    border-radius: 10px;
  }
  &._small{
    width: 26px;
    height: 26px;
    border-radius: 7px;
    font-size: 12px;
  }

  .icon-favorite-empty,
  .icon-favorite{
    font-size: 17px;
  }
}