.back-link {
  display: inline-flex;
  align-items: center;
  border-radius: 3px;
  background: #e8eef1;
  height: 36px;
  font-size: 13px;
  padding: 0 15px;
  color: #3b4a51;
  transition: 0.3s;
  &:before {
    font-size: 8px;
    margin-right: 5px;
  }
  @media (hover: hover) {
    &:hover {
      background: darken(#e8eef1, 5%);
    }
  }
}

.market-list {
  .col-xl-3 {
    @media screen and (min-width: 1500px) {
      flex: 0 0 20%;
      max-width: 20%;
    }
  }

  .market-list__item {
    margin-bottom: 12px;
    border-radius: 10px;
    background: #ffffff;
    text-align: center;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transition: box-shadow 0.3s;

    &:hover {
      box-shadow: 0 15px 60px #dbe1e3;
    }

    .market-list__thumb {
      margin: 0 auto 15px;
      height: 115px;
      width: 100%;
      border-radius: 10px;
      border: 1px solid #e1e1ee;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 100%;
        max-width: 80%;
        height: 50px;
        object-position: center center;
        object-fit: contain;
      }
    }
    h4 {
      font-size: 16px;
      margin-bottom: 11px;
      font-weight: 700;
    }
    .market-list__desc {
      color: #414150;
      font-size: 12px;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      width: 100%;
      max-width: 270px;
      margin: 0 auto 20px;
    }
    .market-list__btn {
      width: 100%;
    }
    .market-list__info {
      margin-top: auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 20px 0 10px;
      border-top: 1px solid #eaeaf0;
      margin-bottom: 0;
      width: 100%;
      font-size: 12px;
      font-weight: 500;
      li {
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        padding: 0 8px;
        &:before {
          font-size: 16px;
          color: #809098;
          margin-right: 5px;
        }
      }
    }
  }
}

.site-link {
  display: inline-flex;
  align-items: center;
  color: #3dc98a;
  font-weight: 500;
  .icon-link {
    margin-right: 10px;
  }
  @media (hover: hover) {
    &:hover {
      color: darken(#3dc98a, 10%);
    }
  }
}

.single-market {
  font-size: 15px;
  color: #28353a;
  border-radius: 10px;
  background: #fff;
  padding: 30px 30px 14px;
  margin-bottom: 50px;
  @media screen and (max-width: 992px) {
    padding-left: 20px;
    padding-right: 20px;
  }
  @media screen and (max-width: 767px) {
    text-align: center;
  }

  & > .row {
    & > .col-md-auto {
      &:nth-child(1) {
        width: 280px;
      }
    }
    .w-1 {
      width: 100px;
    }
  }
  h1,
  h2 {
    margin-bottom: 10px;
    color: inherit;
    font-weight: 700;
    @media screen and (max-width: 767px) {
      margin-bottom: 15px;
      margin-top: 5px;
    }
  }

  .single-market__link {
    margin-bottom: 4px;
  }
  .single-market__desc {
    line-height: 1.46;
    margin-bottom: 20px;
    margin-top: 5px;
    @media screen and (min-width: 767px) {
      max-width: 900px;
    }
  }
  .single-market__thumb {
    border: 1px solid #e1e1ee;
    border-radius: 10px;
    margin: 0 auto 20px;
    overflow: hidden;
    height: 115px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 100%;
      max-width: 80%;
      height: 50px;
      object-position: center center;
      object-fit: contain;
    }
  }
  .single-market__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 5px;
    color: #28353a;
    font-size: 12px;
    font-weight: 500;
    padding-left: 8px;
    padding-right: 8px;
    border-left: 1px solid #d9dae5;
    border-right: 1px solid #d9dae5;
    @media screen and (max-width: 767px) {
      border-left: 0;
      border-right: 0;
      padding-left: 0;
    }
    li {
      display: flex;
      align-items: center;
      padding: 0 8px;
      &:before {
        font-size: 16px;
        color: #809098;
        margin-right: 5px;
      }
    }
  }

  .single-market__percent {
    color: #e76c6c;
    font-size: 22px;
    font-weight: 600;
    margin-left: 15px;
  }
  .single-market__code {
    width: 215px;
    margin: 0 auto;
    height: auto !important;
    @media screen and (max-width: 767px) {
      width: auto;
      flex-grow: 1;
    }
    .form-item {
      display: none;
      .form-item__field._copy {
        position: relative;
        input {
          width: 100%;
          font-weight: 700;
          padding-left: 20px;
          color: #3a4850;
          font-size: 14px;
          background: #f7f9fc;
          height: 50px;
        }
        .btn-copy {
          padding: 0;
          color: #3b4a51;
          position: absolute;
          box-shadow: 0 5px 20px rgba(44, 52, 60, 0.05);
          top: 50%;
          transform: translateY(-50%);
          right: 13px;
          width: 30px;
          height: 30px;
          font-size: 14px;
          background: #fff;
          opacity: 1;
          border-radius: 5px;
          border: 1px solid transparent;
          transition: 0.3s;
          outline: none;
          @media (hover: hover) {
            &:hover {
              border-color: #3dc98a;
            }
          }
        }
      }
    }
    &.show-code {
      .btn._code {
        display: none;
      }
      .form-item {
        display: block;
      }
    }
  }
}

.rate-service {
  border-radius: 5px;
  background: #f2fcf7;
  padding: 15px 30px;
  font-size: 12px;
  max-width: 500px;
  @media screen and (max-width: 992px) {
    padding-left: 20px;
    padding-right: 20px;
  }
  @media screen and (max-width: 767px) {
    max-width: 100%;
  }
  h4 {
    font-size: 15px;
    margin-bottom: 2px;
    font-weight: 600;
  }
  .rate-service__sep {
    height: 1px;
    width: 15px;
    margin: 0 10px;
    background: #101929;
  }
  .rate-service__value {
    font-size: 16px;
    font-weight: 600;
  }
  .jq-stars {
    display: inline-block;
  }

  .jq-star {
    width: 100px;
    height: 100px;
    display: inline-block;
    cursor: pointer;
  }

  .jq-star-svg {
    padding-left: 3px;
    width: 100%;
    height: 100%;
  }

  .jq-star-svg path {
    stroke-linejoin: round;
  }
}
