.welcome-txt {
    background: linear-gradient(
        115.51deg,
        rgba(65, 204, 130, 0.07) 18.7%,
        rgba(10, 151, 121, 0.07) 84.98%
    );
    border-radius: 10px;
    margin-bottom: 20px;
    font-weight: 600;
    padding: 18px 30px 18px 44px;
    position: relative;

    .has-indicator {
        background: #f6d327;
        position: absolute;
        top: 50%;
        left: 25px;
        transform: translateY(-50%);
        width: 7px;
        height: 7px;
        border-radius: 50%;
        box-shadow: 0px 2px 12px rgba(246, 211, 39, 0.8);
    }
}
