.aside{
  width: 235px;
  min-width: 235px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  @media screen and (max-width: 1200px) {
    position: fixed;
    left: 0px;
    bottom: 0px;
    top: 60px;
    width: 265px;
    overflow-y: auto;
    transform: translateX(-100%);
    transition: transform .5s;
    z-index: 1000;
    padding: 15px;
    background: #fff;
    &.active{
      transform: translateX(0);
    }
  }

  .aside__content{
    border-radius: 15px;
    background: #fff;
    flex-grow: 1;
    padding: 12px;
    display: flex;
    flex-direction: column;
    @media screen and (max-width: 1200px) {
      background: 0;
      padding: 0;
    }
  }

  .aside__copyright{
    color: #7F8592;
    text-align: center;
    font-size: 12px;
    padding-bottom: 8px;
    margin-top: auto;
    @media screen and (max-width: 1200px) {
      display: none;
    }
  }


  .aside__head{
    display: none;
    background: #243035;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 15px;
    @media screen and (max-width: 1200px) {
      display: flex;
    }
  }
  .aside__balance{
    width: 100%;
    .user-balance{
      justify-content: center;
    }
  }

  .blog-nav{
    font-size: 14px;
  }
}

.aside-menu{
  &>ul{
    list-style: none;
    padding-bottom: 10px;
    &>li{
      margin-bottom: 10px;
      &>a{
        display: flex;
        align-items: center;
        gap: 14px;
        height: 46px;
        padding: 0 16px;
        border-radius: 10px;
        border-left: 1px solid transparent;
        [class^="icon-"],
        [class*=" icon-"] {
          font-size: 20px;
        }
        .aside-menu__count{
          margin-left: auto;
          background: #FFE6A9;
          border-radius: 5px;
          font-size: 12px;
          padding: 3px 8px;
          font-weight: 500;
          color: #3B4A51;
        }
        &.active{
          color: $main;
          background: rgba($main, .05);
          border-left-color: $main;
        }
        @media (hover: hover) {
          &:hover{
            color: $main;
          }
        }
      }
    }
  }
}

.search-bg,
.navigation-bg{
  position: fixed;
  inset: 0;
  z-index: 800;
  background: rgba(36, 48, 53, 0.2);
  backdrop-filter: blur(3px);
  transition: .3s;
  opacity: 0;
  visibility: hidden;
  @media screen and (max-width: 1200px) {
    &.active{
      opacity: 1;
      visibility: visible;
    }
  }
}
.search-bg{
  z-index: 10001;
  &.active{
    opacity: 1;
    visibility: visible;
  }
}




