.footer{
  padding: 55px 0;
  background: #1E282C;
  color: #7E878B;
  font-size: 14px;
  .footer__content{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    @media screen and (max-width: 992px) {
      flex-wrap: wrap;
      gap: 40px;
    }
  }
  .footer__left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    color: #C4C8C9;
    @media screen and (max-width: 992px) {
      order: 2;
    }
    @media screen and (max-width: 767px) {
      order: 4;
      align-items: center;
      width: 100%;
    }
  }
  .footer__center{
    display: flex;
    justify-content: space-between;
    gap: 26px;
    flex-grow: 1;
    max-width: 520px;
    @media screen and (max-width: 992px) {
      max-width: inherit;
      width: 100%;
      order: 1;
      flex-wrap: wrap;
    }
    .footer-nav:not(._mob-two-col){
      @media screen and (max-width: 992px) {
        min-width: 200px;
      }
      @media screen and (max-width: 767px) {
        min-width: 1px;
        width: calc(50% - 13px);
      }
    }
  }
  .footer__right{
    display: flex;
    flex-direction: column;
    gap: 30px;
    @media screen and (max-width: 992px) {
      order: 3;
    }
    @media screen and (max-width: 767px) {
      width: 100%;
      align-items: center;
      gap: 20px;
    }
  }

  .lang-menu .base-select .base-select__dropdown{
    top: auto;
    bottom: calc(100% + 5px);
  }
  
  .footer__copy{
    color: #C4C8C9;
    font-weight: 300;
  }
}

.footer-nav{
  p{
    color: #C6CBCD;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 20px;
  }
  ul{
    list-style: none;
    li{
      a{
        @media (hover: hover) {
          &:hover{
            color: $main;
          }
        }
      }
      &:not(:last-child){
        margin-bottom: 12px;
      }
    }
  }

  &._mob-two-col{
    @media screen and (max-width: 767px) {
      width: 100%;
      ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        li{
          width: calc(50% - 13px);
        }
      }
    }
  }
}

.telegram-link{
  padding-left: 30px;
  display: inline-block;
  position: relative;
  .icon-telegram2{
    position: absolute;
    left: 0;
    top: 0;
    font-size: 20px;
    color: $main;
  }
  .telegram-link__nickname{
    color: #D2D7DA;
    font-size: 18px;
    font-weight: 600;
    display: block;
    padding-top: 5px;
  }
  @media (hover: hover) {
    &:hover{
      opacity: .7;
    }
  }
}