.aside._home{
  top: 0;
  padding: 84px 0 0 0;
  background: #243035;
  color: #fff;
  width: 100%;
  overflow: hidden;
  font-size: 15px;
  .aside__content{
    overflow-y: auto;
    padding: 30px 15px;
  }
  .aside-menu > ul > li > a{
    justify-content: center;
  }
  .aside__btn{
    max-width: 250px;
    margin: 0 auto 30px;
  }
  .aside__contacts{
    text-align: center;
    .link{
      color: #A4AAB5;
    }
  }
  .btn{
    font-size: 15px;
  }
  .base-select{
    .base-select__trigger{
      height: 50px;
      border-radius: 10px;
      padding-left: 25px;
      justify-content: center;
      font-size: 15px;
      .base-select__arrow{
        right: 10px;
      }
    }
    .base-select__dropdown{
      color: #2B373D;
    }
    .base-select__option{
      padding-left: 25px;
    }
  }
}