.modal-backdrop{
  z-index: 10003;
}
.modal{
  .modal-dialog{
    max-width: 640px;
  }
  .modal-content{
    padding: 30px;
    @media screen and (max-width: 767px) {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  .btn-close{
    position: absolute;
    top: 20px;
    right: 30px;
    @media screen and (max-width: 767px) {
      right: 20px;
    }
  }
  .modal-head{
    padding-right: 50px;
    margin-bottom: 20px;
  }
}

.manager{
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 15px 18px;
  border-radius: 10px;
  background: #F3F5F6;
  position: relative;
  font-size: 15px;
  font-weight: 500;
  .manager__thumb{
    img{
      width: 52px;
      height: 52px;
      display: block;
    }
  }
  .manager__name{
    font-weight: 600;
    display: block;
    margin-bottom: 3px;
  }
  .icon-telegram{
    position: absolute;
    top: 11px;
    right: 15px;
    font-size: 20px;
    color: #1E99D7;
    transition: transform .3s;
  }
  @media (hover: hover) {
    &:hover{
      background: darken(#F3F5F6, 5%);
      .icon-telegram{
        transform: translate(3px, -3px);
      }
    }
  }
}