.payment-methods{
  margin-bottom: 34px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
}
.payment-method{
  input{
    display: none;
    &:checked{
      &+.payment-method__content{
        background: #E7F6EF;
        border-left-color: $main;
      }
    }
  }
  .payment-method__content{
    border-radius: 10px;
    background: #F9FAFA;
    height: 75px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    font-weight: 600;
    font-size: 15px;
    gap: 14px;
    cursor: pointer;
    border-left: 2px solid transparent;
    transition: background .3s, border-color .3s;
    img{
      width: 40px;
      height: 40px;
    }
    @media (hover: hover) {
      &:hover{
        background: #E7F6EF;
      }
    }
  }
}