.popover-icon{
  font-size: 1.1em;
  display: inline-block;
  color: #738289;
  transition: color .3s;
  cursor: pointer;
  opacity: .7;
  &:before{
    display: inline;
  }
  @media (hover: hover) {
    &:hover{
      color: $main;
    }
  }
}