body.spyBlog {
  .wrapper .rightSideBl,&.notRegistered  {
    background: #F6F8F9;
  }
  .breadCrumbsBlock {
    .breadcrumbs {
      font-weight: 300;
      font-size: 12px;
      color: #5E7078;
      > span {
        display: inline-block;
        margin: 0 5px;
        &:first-child {
          margin-left: 0;
        }
        &:first-child:before {
          background: url(../images/home.svg) left top no-repeat;
          display: inline-block;
          width: 10px;
          min-width: 10px;
          height: 9px;
          margin-right: 3px;

          content: '';

        }
        a {
          font-size: 12px;
          color: #3B4A51;
        }
        span {
          font-weight: 300;
          font-size: 12px;
          color: #5E7078;
        }
      }
    }
  }

  .mainContent.blogListContent .blogList {
    @include align-items(flex-start);
    .cat-links a {
      font-size: 12px;
      line-height: 15px;
      color: #ADB5B9;
    }
    .posted-on {
      font-size: 12px;
      line-height: 15px;
      color: #ADB5B9;
    }
    .linkBlock {
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      color: #3B4A51;
      img {
        @include border-radius(5px);
      }
    }
    p {
      margin: 12px 0 15px 0;
      font-size: 13px;
      line-height: 16px;
      color: #3B4A51;
    }
    .more-link {

      display: block;
      width: 124px;
      height: 40px;
      line-height: 40px;
      padding: 0;
      text-align: center;
      margin-bottom: 20px;
      background-color: #3DC98A;
      color: #FFFFFF;

      border-radius: 2px;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
      border: none;
      outline: none;
      cursor: pointer;
      background-repeat: no-repeat;
      background-position: center center;
      font-weight: bold;
      font-size: 14px;
      &:hover,&:active,&:focus {
        opacity: 0.8;
      }
    }
    .author,.author a,.post-views-count {
      font-size: 12px;
      line-height: 15px;
      color: #ADB5B9;
    }
    .dashicons-chart-bar:before {
      content: '';
    }
  }
  .pgntn-page-pagination {
    min-width: 100%;
    width: 100%;
    .pgntn-page-pagination-intro {
      display: block;
      margin-top: 17px;
      font-size: 14px;
      line-height: 17px;
      color: #88959B;
    }
    .page-numbers {
      width: 27px;
      min-width: 27px;
      height: 31px;
      line-height: 31px;
      text-align: center;
      margin: 0;
      padding: 0;
      vertical-align: bottom;
      color: #3B4A51;
      font-size: 18px;
      &.current {
        @include border-radius(3px);
        font-weight: 600;
        background: #3DC98A;
        color: #FFFFFF;
      }
      &.prev,&.next {
        border: 1px solid #3B4A51;
        @include border-radius(3px);
        background-image: url(../images/paginationPrevIcon.svg);
        background-position: center center;
        background-repeat: no-repeat;
      }
      &.next {
        -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
        -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
        -ms-transform: matrix(-1, 0, 0, 1, 0, 0);
        -o-transform: matrix(-1, 0, 0, 1, 0, 0);
        transform: matrix(-1, 0, 0, 1, 0, 0);
      }




    }
  }
}