.header {
    width: 100%;
    height: 60px;
    background: #243035;
    border-radius: 15px;
    margin-bottom: 20px;
    padding: 0 15px;
    position: relative;
    z-index: 10000;

    @media screen and (max-width: 1200px) {
        position: fixed;
        top: 0;
        left: 0;
        border-radius: 0;
    }

    .header__burger {
        display: none;
        @media screen and (max-width: 1200px) {
            display: block;
            margin-right: 15px;
        }
        @media screen and (max-width: 767px) {
            margin-right: auto;
        }
    }
    .header__left {
        margin-right: auto;
        display: flex;
        align-items: center;
        gap: 13px;
    }
    .header__right {
        display: flex;
        align-items: center;
        gap: 22px;
    }

    .header__logo {
        img {
            display: block;
            @media screen and (max-width: 767px) {
                width: 130px;
                height: auto;
            }
        }
    }
    .header__lang {
        @media screen and (max-width: 1200px) {
            display: none;
        }
    }
    .header__tariff {
        @media screen and (max-width: 1200px) {
            display: none;
        }
    }
    .header__btn {
        @media screen and (max-width: 767px) {
            display: none;
        }
    }
}

.lang-menu {
    .base-select {
        .base-select__trigger {
            border-radius: 7px;
            background: #334044;
            border: 0;
            outline: none;
            box-shadow: none;
            padding: 0 30px 0 10px;
            font-size: 15px;
            color: #fff;
            height: 34px;
            min-width: 72px;
            &:hover:not(.is-disabled) {
            }
        }
        .base-select__arrow {
            background: url(@img/selectdropicon-dark.svg) center no-repeat;
            box-shadow: none;
            right: 2px;
        }
        .base-select__dropdown {
            @media screen and (min-width: 1201px) {
                top: calc(100% + 13px);
                box-shadow: 0px 55px 75px 0px rgba(16, 24, 37, 0.25);
            }
        }
        .base-select__option {
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}

.tariff-link {
    display: inline-flex;
    align-items: center;
    border-radius: 7px;
    background: rgba(247, 207, 109, 0.15);
    padding: 0 8px;
    height: 24px;
    color: #ffd262;
    font-size: 13px;
    font-weight: 500;
    @media (hover: hover) {
        &:hover {
            opacity: 0.7;
        }
    }
    &._start {
        background: rgba(72, 186, 201, 0.15);
        color: #48bac9;
    }
    &._basic {
        color: #e9b438;
        background: rgba(233, 180, 56, 0.15);
    }
    &._premium {
        color: #8140f0;
        background: rgba(129, 64, 240, 0.15);
    }
    &._enterprise {
        color: #3bc2a7;
        background: rgba(59, 194, 167, 0.15);
    }
}
