.offerTableBlock {
  margin: 22px 0 35px 0;
}
.loadOfferBlock {
  text-align: center;
  margin-top: 30px;
  .btn {
    height: 46px;
    line-height: 46px;
    font-weight: 600;
    font-size: 14px;
    color: #FFFFFF;
    padding: 0 40px;
  }
  .subtext {
    margin-top: 10px;
    font-weight: normal;
    font-size: 11px;
    text-align: center;
    color: #3B4A51;
  }
}