.wrapper{
  &._page{
    max-width: inherit;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    overflow-x: hidden;
    .header{
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
      .header__right{
        gap: 13px;
      }
    }
    .main{
      width: 100%;
      padding-bottom: 40px;
    }
    .aside{
      @media screen and (min-width: 1201px){
        display: none;
      }
    }
  }
}

.container{
  max-width: 1230px;
}

.header-blog{
  border-left: 1px solid rgba(255, 255, 255, 0.15);
  color: #fff;
  font-size: 18px;
  padding-left: 13px;
  margin-top: 3px;
  @media screen and (max-width: 767px) {
    font-size: 16px;
  }
}