.base-select {
    color: #3b4a51;
    color: inherit;
    font-family: inherit;
    font-feature-settings: inherit;
    font-size: 14px;
    font-size: 100%;
    font-variation-settings: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
}
.base-select .base-select__field {
    background: #fafafa;
    border: 1px solid #e4ebef;
    box-shadow: none;
    color: #3b4a51;
    display: inline-block;
    font-size: 14px;
    height: 48px;
    line-height: 48px;
    outline: none;
    padding: 0 23px;
    transition: all 0.2s ease;
    width: 100%;
}
.base-select .base-select__arrow,
.base-select .base-select__field {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    cursor: pointer;
}
.base-select .base-select__arrow {
    background: url(@img/selectdropicon.svg) 50% no-repeat #fff;
    box-shadow: 0 2px 15px #e7eaec;
    display: block;
    height: 28px;
    width: 28px;
}
