::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-weight: 500;
  font-size: 14px;
  color: #B4BDC1;
}
::-moz-placeholder { /* Firefox 19+ */
  font-weight: 500;
  font-size: 14px;
  color: #B4BDC1;
}
:-ms-input-placeholder { /* IE 10+ */
  font-weight: 500;
  font-size: 14px;
  color: #B4BDC1;
}
:-moz-placeholder { /* Firefox 18- */
  font-weight: 500;
  font-size: 14px;
  color: #B4BDC1;
}

input[type='text'],
input[type='password'] {
  display: inline-block;
  height: 48px;
  line-height: 48px;
  outline: none;
  @include box-shadow(none);
  background: #FAFAFA;
  border: 1px solid #E4EBEF;
  @include border-radius(5px);
  padding: 0 23px;
}

.defaultCheckBoxBlock {
  label {
    cursor: pointer;
  }
  input[type='checkbox'] {
    -webkit-appearance: none;
    appearance: none;
  }
  .visibleElement {
    display: inline-block;
    border: 1px solid #E4E4E4;
    @include border-radius(2px);
    width: 17px;
    min-width: 17px;
    height: 17px;
  }
  input:checked + .visibleElement {
    background: url("../images/checkBox.svg") center center no-repeat #3DC98A;
    border: none;
  }
}

.defaultRadio {
  label {
    cursor: pointer;
  }
  input[type='radio'] {
    -webkit-appearance: none;
    appearance: none;
  }
  .visibleElement {
    display: inline-block;
    width: 17px;
    min-width: 17px;
    height: 17px;
    @include border-radius(50%);
    border: 1px solid #E4E4E4;
  }
  input[type='radio']:checked + .visibleElement{
    border: 1px solid #3DC98A;
    background: url("../images/radio.svg") center center no-repeat;
  }
}
textarea {
  background: #F7F8F9;
  border: 1px solid #F2F5F8;
  @include border-radius(5px);
  padding: 19px;
  width: 100%;
  outline: none;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: #3B4A51;
  &:focus {
    outline: none;
    background: #F8FFFC;
    border: 1px solid #C7E9D9;

  }
}