.c-table{
  .inner{
    @media screen and (max-width: 1000px) {
      overflow-x: auto;
      overflow-y: hidden;
      margin-left: -15px;
      margin-right: -15px;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}
.table{
  font-size: 13px;
  border-collapse: separate;
  border-spacing: 0 5px;

  &.no-wrap-table{
    white-space: nowrap;
  }

  td{
    vertical-align: middle;
    padding: 10px 12px;
    border: 0;
  }

  thead{
    tr{
      th,td{
        font-weight: 500;
        font-size: 1.1em;
        border: 0;
        background: #E9EEF0;
        &:first-child{
          border-radius: 5px 0 0 0;
        }
        &:last-child{
          border-radius: 0 5px 0 0;
        }
      }
    }
  }
  tbody{
    tr{
      background: #fff;
      transition: box-shadow .3s;
      &:hover{
        box-shadow: 0px 4px 15px 0px rgba(40, 53, 58, 0.07);
        background: rgba(255, 255, 255, 0.7);
      }
      &:last-child{
        td{
          &:first-child{
            border-bottom-left-radius: 5px;
          }
          &:last-child{
            border-bottom-right-radius: 5px;
          }
        }
      }
    }
  }


  &.thead-transparent{
    font-size: 14px;
    thead{
      tr{
        th,td{
          background: transparent;
          color: #848499;
        }
      }
    }
    tbody{
      tr{
        td{
          height: 45px;
        }
        &:first-child{
          td{
            &:first-child{
              border-top-left-radius: 5px;
            }
            &:last-child{
              border-top-right-radius: 5px;
            }
          }
        }
      }
    }
  }
}

.table-status{
  color: #AEB6BA;
  font-weight: 500;
  &._successful{
    color: $main;
  }
  &._rejected{
    color: $red;
  }
}

.table-link{
  font-weight: 600;
  color: inherit;
  display: inline-block;
  max-width: 330px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  padding: 3px 10px 3px 0;
  span{
    text-decoration-line: underline;
    text-decoration-style: dotted;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-underline-offset: 25%;
    text-underline-position: from-font;
  }
  &:before{
    position: absolute;
    right: 0;
    top: 0;
    font-size: 10px;
  }
  &:hover{
    color: #3DC98A;
  }
}
.table-date{
  display: inline-flex;
  align-items: center;
  .icon-calendar{
    color: #77868D;
    margin-right: 9px;
  }
}
.table-source{
  border-radius: 3px;
  background: #E9F2F6;
  color: #738B96;
  font-size: 12px;
  padding: 4px 8px;
}
.table-controls{
  list-style: none;
  display: flex;
  li{
    padding: 0 3px;
  }
}