.tariff-pay{
  display: inline-block;
  border-radius: 10px;
  border-left: 1px solid $main;
  background: #F3F5F6;
  padding: 10px 40px 10px 30px;
  @media screen and (max-width: 767px) {
    padding: 10px 20px;
  }
  .tariff-pay__name{
    padding: 10px 0;
  }
  .tariff-pay__info{
    padding: 5px 0;
  }
}
.tariff-name{
  border-radius: 10px;
  height: 45px;
  display: inline-flex;
  align-items: center;
  padding: 0 20px;
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  &._start{
    background: #48BAC9;
  }
  &._basic{
    background: #E9B438;
  }
  &._premium{
    background: #8140F0;
  }
  &._enterprise{
    background: #3BC2A7;
  }
  &._small{
    border-radius: 5px;
    font-size: 13px;
    padding: 0 15px;
    height: 30px;
  }
}




.rate{
  display: flex;
  .rate__fixed{
    width: 310px;
    padding-right: 30px;
    @media screen and (max-width: 767px) {
      padding-right: 10px;
      width: 170px;
    }
  }
  .rate__scroll{
    width: calc(100% - 310px);
    @media screen and (max-width: 1024px) {
      overflow-x: auto;
      width: calc(100% - 295px);
      margin-right: -15px;
    }
    @media screen and (max-width: 767px) {
      width: calc(100% - 155px);
    }
  }
  .rate__current{
    height: 125px;
  }
  .rate__list{
    display: flex;
    @media screen and (max-width: 1024px) {
      &:after{
        content: '';
        min-width: 15px;
      }
    }
  }
}


.rate-current{
  border-radius: 10px;
  border-left: 1px solid #3DC98A;
  background: #F3F5F6;
  padding: 25px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  @media screen and (max-width: 767px) {
    padding: 15px;
  }
  .rate-current__title{
    font-weight: 700;
    font-size: 18px;
    margin-right: 10px;
    @media screen and (max-width: 767px) {
      width: 100%;
      font-size: 16px;
      padding-bottom: 4px;
    }
  }
  .rate-current__status{
    border-radius: 5px;
    background: $main;
    font-weight: 600;
    font-size: 12px;
    color: #fff;
    padding: 5px 10px;
    display: inline-flex;
    align-items: center;
    @media screen and (max-width: 767px) {
      font-size: 10px;
      padding: 3px 8px;
    }
    &:before{
      content: '';
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background: #fff;
      margin-right: 7px;
    }
    &._disabled{
      background: #FAFAFA;
      color: rgba(56, 56, 70, 0.5);
      &:before{
        display: none;
      }
    }
  }
  .rate-current__term{
    color: #707080;
    font-size: 13px;
    width: 100%;
    padding-top: 10px;
    @media screen and (max-width: 767px) {
      font-size: 10px;
      padding-top: 5px;
    }
    span{
      font-weight: 500;
    }
  }
}


.rate-item{
  margin-right: 10px;
  width: 190px;
  font-size: 14px;
  border-radius: 10px;
  background: #FFF;
  overflow: hidden;
  flex-grow: 1;

  [data-tub]:not(.active){
    display: none;
  }

  @media screen and (max-width: 1024px) {
    min-width: 205px;
  }
  @media screen and (max-width: 767px) {
    min-width: 170px;
  }

  &:last-child{
    margin-right: 0;
  }

  &._start{
    .rate-item-head{
      background: #48BAC9 url('../img/rate-head-bg.png') center no-repeat;
      background-size: cover;
    }
  }
  &._basic{
    .rate-item-head{
      background: #E9B438 url('../img/rate-head-bg.png') center no-repeat;
      background-size: cover;
    }
  }
  &._premium{
    .rate-item-head{
      background: #8140F0 url('../img/rate-head-bg.png') center no-repeat;
      background-size: cover;
    }
  }
  &._enterprise{
    .rate-item-head{
      background: #3BC2A7 url('../img/rate-head-bg.png') center no-repeat;
      background-size: cover;
    }
  }
}


.rate-item-head{
  height: 125px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  .rate-item-head__title{
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 4px;
  }
  .rate-item-head__price{
    font-weight: 700;
    font-size: 30px;
  }
}
.rate-item-body{
  font-size: 12px;
  .rate-item-body__desc{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 80px;
    font-size: 13px;
    padding: 0 15px;
    p{
      margin: 5px 0;
    }
    @media screen and (max-width: 767px) {
      font-size: 11px;
    }
  }
  .rate-item-body__row{
    border-bottom: 1px solid #F5F5FB;
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    @media screen and (max-width: 767px) {
      height: 40px;
    }
    .icon-check{
      margin: 0 auto;
      color: $main;
      font-size: 15px;
    }
  }
  .rate-item-body__hidden{
    display: none;
  }

  &._fixed{
    .rate-item-body__desc{
      text-align: left;
      align-items: flex-start;
      font-weight: 700;
      font-size: 16px;
      padding: 20px 0 0 0;
    }
    .rate-item-body__row{
      border-color: transparent;
      span{
        width: 100%;
        text-align: left;
      }
      @media screen and (max-width: 767px) {
        font-size: 11px;
        line-height: 1.1;
      }
    }
    &:not(.show-all){
      position: relative;
      &:after{
        content: '';
        position: absolute;
        height: 180px;
        left: 0;
        right: 0;
        bottom: -25px;
        background: linear-gradient(180deg, rgba(245, 245, 251, 0.00) 44.37%, #E6EAEC 88.73%);
      }
    }
  }
}
.rate-item-bottom{
  padding: 25px;

  &._fixed{
    padding: 17px 0 0 0;
    .btn{
      position: relative;
      z-index: 100;
      color: $main;
      @media screen and (max-width: 767px) {
        font-size: 12px;
        padding: 0 15px;
      }
      &.show-all{
        margin-top: 8px;
        .icon-down{
          transform: scale(1,-1);
        }
      }
    }
  }
}