.searchFieldDefault {
    .row1Bl {
      @include flexbox();
      @include align-items(center);
      @include justify-content(flex-end);
      background: #FFFFFF;
      @include box-shadow(0, 15px, 60px, #DBE1E3);
      @include border-radius(5px);
      .inputBlock {
        @include flex(auto);
        input {
          width: 100%;
          height: 60px;
          line-height: 60px;
          background: transparent;
          border: none;
        }
      }
      .advSearchBl {
        padding: 8px 30px 8px 32px;
        border-left: 1px solid #E2E8EA;
        text-align: center;
        a {
          font-size: 13px;
          line-height: 16px;
          color: #4A585F;
          display: inline-block;
          border-bottom: 1px dashed #3B4A51;;
        }
      }
      .searchBtn {
        margin-right: 16px;
        .btn {
          width: 40px;
          height: 40px;
          line-height: 40px;
          background-image: url("../images/searchIcon.svg");
          @include border-radius(5px);
          display: block;
        }


      }
    }


  .row2Bl {
    @include flexbox();
    @include align-items(center);
    margin-top: 10px;

    .favLinkBlock {
      min-width: 173px;
      height: 48px;
      line-height: 48px;
      margin: 0 15px;
      a {
        @include flexbox();
        @include align-items(center);
        @include justify-content(center);
        width: 100%;
        text-align: center;
        background: #FFFFFF;
        border: 1px solid #EFF3F5;
        @include border-radius(5px);
        .text {
          font-weight: 300;
          font-size: 14px;
          color: #3B4A51;
        }
        .count  {
          width: 34px;
          min-width: 34px;
          height: 34px;
          line-height: 34px;
          text-align: center;
          background: #EFF9F4;
          @include border-radius(50%);
          font-weight: 600;
          font-size: 12px;
          color: #3B4A51;
          margin-left: 4px;
        }
      }
    }

    .filterSettings {
      @include flex(auto);
    }
    .sortOrder {
      min-width: 266px;
    }
  }
}

@media (max-width: 1050px) {
  .searchFieldDefault .row1Bl .advSearchBl a {
    width: 40px;
    height: 40px;
    background: url("../images/mobileAdvSearch.svg") center center no-repeat #F1F4F5;
    color: #F1F4F5;
    @include border-radius(5px);
    overflow: hidden;
    border: none;
    display: block;
    font-size: 0px;
  }
  .searchFieldDefault .row1Bl .advSearchBl {
    padding: 0 7px;
    border: none;
  }
}
@media (max-width: 767.33px) {
  .searchFieldDefault .row2Bl {
    @include flex-wrap(wrap);
  }
  .searchFieldDefault .row1Bl .inputBlock input {
    height: 54px;
    line-height: 54px;
  }
  .searchFieldDefault .row2Bl .filterSettings {
    min-width: 100%;
    width: 100%;
  }
  .searchFieldDefault .row2Bl .favLinkBlock {
    margin-top: 10px;
    margin-left: 0;
  }
  .searchFieldDefault .row2Bl .sortOrder {
    margin-top: 10px;
  }
  .searchFieldDefault .row2Bl .sortOrder {
    min-width: auto;
    @include flex(auto);
  }
}
@media (max-width: 450px) {
  .searchFieldDefault .row2Bl .favLinkBlock {
    min-width: 158px;
  }
}