.btn {
  display: inline-block;
  @include border-radius(2px);
  background-color: #E9F2F7;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  border: none;
  outline: none;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center center;
  font-weight: bold;
  font-size: 14px;


  &:hover,&:focus,&:active {
    opacity: .8;
    outline: none;
    @include box-shadow(none);
  }
}
.btnGreen {
  background-color: #3DC98A;
  color: #FFFFFF;
  &:hover,&:active,&:focus {
    color: #FFFFFF;
  }
}
.btnRed {
  background-color: #FFEFEF;
}
.btnDelete {
  background-image: url("../images/trashIcon.svg");
  width: 32px;
  min-width: 32px;
  height: 32px;
}
.btnSave {
  background-image: url("../images/saveIcon.svg");
  width: 32px;
  min-width: 32px;
  height: 32px;
}