.leftSideBl {
  .logoBlock {
    text-align: center;
    a {
      display: inline-block;
    }
  }


  .mobileFilterHeading {
    display: none;
    margin: 22px 0 32px 0;
    .mobileFilterClose {
      width: 41px;
      min-width: 41px;
      height: 41px;
      background: url("../images/mobileFilterClose.svg") center center no-repeat #F0F3F4;
      @include border-radius(5px);
    }
    .heading {
      font-weight: bold;
      font-size: 20px;
      color: #3B4A51;
      margin-left: 27px;
    }
  }
  .filterBlock {
    margin: 40px -15px 40px -15px;
    .formBlock {
      padding: 0 15px;
    }


    label {
      display: block;
      .text {
        display: block;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #3B4A51;
        margin-bottom: 11px;
        text-align: left;
      }
    }
    input[type='text'] {
      padding: 0 19px;
      font-size: 14px;
      color: #3B4A51;
      width: 100%;


    }
    .daterangeBlock {
      .inpBlock {
        position: relative;

      }
      .daterangeInput {
        padding: 0 50px 0 19px;

      }

      .iconDropDown {
        display: block;
        position: absolute;
        right: 11px;
        top: 50%;
        margin-top: -14px;
        width: 28px;
        height: 28px;
        background: url("../images/selectDropIcon.svg") center center no-repeat #fff;
        @include box-shadow(0,2px,15px,#E7EAEC);
        @include border-radius(5px);
        cursor: pointer;
      }
    }

    .tizerBlock {
      border-bottom: 3px solid #F6F8F9;
      padding-bottom: 20px;
      .heading {
        margin: 16px 0 16px 0;
        label {
          margin-bottom: 0;
          .text {
            margin-bottom: 0;
          }
        }
        @include flexbox();
        @include align-items(center);
        @include justify-content(space-between);
      }

      .defaultCheckBoxBlock {
        margin-bottom: 12px;
        label {
          @include flexbox();
          @include align-items(center);

          .text {
            margin-bottom: 0;
            font-size: 14px;
            font-weight: normal;
            color: #3B4A51;
          }
          .count {
            font-weight: 300;
            font-size: 11px;
            color: #889BA4;
            margin-left: auto;
          }
          .image {
            margin: 0 3px 0 12px;
          }
        }
      }
    }
  }

  .geoBlock {
    border-bottom: 3px solid #F6F8F9;
    padding-bottom: 20px !important;
    padding-top: 10px !important;
    .heading {
      margin: 16px 0 16px 0;
      label {
        margin-bottom: 0;
        .text {
          margin-bottom: 0;
        }
      }
      @include flexbox();
      @include align-items(center);
      @include justify-content(space-between);

      .defaultCheckBoxBlock {
        label {
          @include flexbox();
          @include align-items(center);
          .text {
            font-weight: 500;
            font-size: 13px;
            color: #89979E;
            margin-left: 7px;
          }
        }
      }
    }

  }

  .adultBlock {
    border-bottom: 3px solid #F6F8F9;
    padding-bottom: 12px !important;
    padding-top: 10px !important;

    .defaultCheckBoxBlock {
      label {
        @include flexbox();
        @include align-items(center);
        .text {
          margin-bottom: 0;
          margin-left: 12px;
          font-weight: normal;
          font-size: 14px;
          color: #3B4A51;
        }
        .icon18 {
          min-width: 30px;
          width: 30px;
          height: 30px;
          background: url("../images/icon18.svg") center center no-repeat;
          margin-left: 8px;
        }
        .count {
          font-weight: 300;
          font-size: 11px;
          color: #889BA4;
          margin-left: auto;
        }
      }
    }
  }

  .deviceBlock {
    border-bottom: 3px solid #F6F8F9;
    padding-bottom: 20px !important;
    padding-top: 10px !important;

    .heading {
      font-weight: 600;
      font-size: 14px;
      color: #3B4A51;
      margin-bottom: 10px;
    }
    .deviceSelect {
      @include flexbox();
      @include align-items(center);
      @include justify-content(space-between);

      .defaultCheckBoxBlock {


        height: 33px;
        line-height: 33px;
        background: #F5F7F8;
        @include border-radius(2px);
        @include flex(auto);
        &.active {
          background: #EDFAF4;
        }
        label {
          @include flexbox();
          @include align-items(center);
          @include justify-content(center);
        }



        &.desktop {
          margin-right: 4px;


          .icon {
            min-width: 19px;
            width: 19px;
            height: 19px;
            background-repeat: no-repeat;
            background: url("../images/dev_pk.svg");
          }
        }
        &.mobile {


          margin-left: 4px;
          .icon {
            min-width: 11px;
            width: 11px;
            height: 19px;
            background-repeat: no-repeat;
            background: url("../images/dev_mobile.svg");
          }
        }

        &.desktop input:checked + .icon {
          background-image: url("../images/dev_pk_active.svg");
        }
        &.mobile input:checked + .icon {
          background-image: url("../images/dev_mobile_active.svg");
        }

        .count {
          font-weight: 300;
          font-size: 11px;
          color: #889BA4;
          margin-left: 8px;
        }
      }
    }
  }

  .imageSettings {
    padding-top: 10px !important;
    padding-bottom: 50px;
    .heading {
      @include flexbox();
      @include align-items(center);
      @include justify-content(space-between);
      margin-bottom: 12px;
      .text {
        font-weight: 600;
        font-size: 14px;
        color: #3B4A51;

      }
    }
    .defaultRadio {
      label {
        @include flexbox();
        @include align-items(center);
        margin-bottom: 12px;

        .text {
          margin-bottom: 0;
          font-weight: normal;
          font-size: 14px;
          color: #3B4A51;
          margin-left: 11px;
        }
      }
    }

    .dimensionsEnterBlock {
      margin: 20px 0 26px 0;
      @include flexbox();
      @include align-items(center);
      @include justify-content(space-between);
      .text {
        min-width: 40px;
        width: 40px;
        text-align: center;
      }
    }
  }

  .buttonsBlock {
    @include flexbox;
    @include align-items(center);
    @include justify-content(space-between);
    .btn {
      margin-left: 10px;
      width: 46px;
      min-width: 46px;
      height: 46px;
      &.btnGreen {
        width: auto;
        @include flex(auto);
        margin-left: 0;
      }
    }
  }
}
@media (max-width: 1050px) {
  .leftSideBl {

  }
  .leftSideBl .logoBlock {
    display: none;
  }
  .leftSideBl .mobileFilterHeading{
    @include flexbox();
    @include align-items(center);
  }

}
