.confContentBlock {
  .filterBlock {
    background: #FFFFFF;
    @include border-radius(20px);
    @include box-shadow(0,40px,180px, rgba(44, 52, 60, 0.05));
    padding: 30px 33px;
    form {
      @include flexbox();
      @include align-items(center);
      @include justify-content(space-between);
    }


    .dateRangeBlock {
      @include flexbox();
      input {
        background: #F7F8F9;
        border: 1px solid #F2F5F8;
        box-sizing: border-box;
        @include border-radius(5px);

        line-height: 56px;
        height: 56px;
        letter-spacing: 0.03em;
        color: #6E7B81;
        padding: 0 18px;
        padding: 0;
        text-align: center;
        min-width: 120px;
        width: 120px;
        margin-right: 11px;
        &:last-child {
          margin-right: 0;
        }
      }


    }

    .yearRangeBlock {
      margin-left: 11px;
      @include flexbox();
      .yearBlock {
        cursor: pointer;
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 0.03em;
        color: #3B4A51;
        border-bottom: 1px dashed #3B4A51 ;
        margin-right: 15px;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -ms-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
        &:last-child {
          margin-right: 0;
        }
        &.active,&:hover {
          color: #3DC98A;
          border-bottom: 1px dashed #3DC98A;
        }
      }
    }

    .btnBlock {
      .btn {
        white-space: nowrap;
        background: #F7FFFB;
        border: 1px solid #3DC98A;
        @include border-radius(3px);
        height: 56px;
        line-height: 56px;
        padding: 0 31px;

        font-weight: bold;
        font-size: 14px;
        color: #3DC98A;

        &:hover,&:active,&:focus {
          background: #3DC98A;
          color: #fff;
        }
      }
    }

    .countryBlock {
      min-width: 200px;
      width: 200px;
      margin-right: 15px;
      .select2-container{
        height: 56px;

      }
      .select2-container--default .select2-selection--single {
        background: #F7F8F9;
        border: 1px solid #F2F5F8;
        @include border-radius(5px);
        line-height: 56px;
        height: 100%;


      }
      .select2-container--default .select2-selection--single .select2-selection__rendered {
        line-height: 56px;
        font-weight: normal;
        font-size: 14px;
        letter-spacing: 0.03em;
        color: #6E7B81;
      }
      .select2-container--default .select2-selection--single .select2-selection__arrow {
        width: 25px;
        height: 36px;
        opacity: 0.7;
        @include border-radius(3px);
        @include box-shadow(0,2px,30px,rgba(44, 52, 60, 0.1));
        margin-top: -18px;
        background: url("../images/mainpage/selectArrow.svg") center center no-repeat #FFFFFF;
      }
    }
    .catBlock {
      margin-right: 15px;
      min-width: 200px;
      width: 200px;
      .select2-container{
        height: 56px;

      }
      .select2-container--default .select2-selection--single {
        background: #F7F8F9;
        border: 1px solid #F2F5F8;
        @include border-radius(5px);
        line-height: 56px;
        height: 100%;


      }
      .select2-container--default .select2-selection--single .select2-selection__rendered {
        line-height: 56px;
        font-weight: normal;
        font-size: 14px;
        letter-spacing: 0.03em;
        color: #6E7B81;
      }
      .select2-container--default .select2-selection--single .select2-selection__arrow {
        width: 25px;
        height: 36px;
        opacity: 0.7;
        @include border-radius(3px);
        @include box-shadow(0,2px,30px,rgba(44, 52, 60, 0.1));
        margin-top: -18px;
        background: url("../images/mainpage/selectArrow.svg") center center no-repeat #FFFFFF;
      }
    }
  }
}
.confContentBlock .filterBlock.active {
  @include border-radius(20px 20px 0 0);
}
@media (max-width: 1200px) {
  .confContentBlock .filterBlock form {
    @include flex-wrap(wrap);
    .btnBlock {
      min-width: 100%;
      text-align: right;
      margin-top: 12px;
    }

  }
  .confContentBlock .filterBlock .catBlock {
    margin-right: 0;
  }
}
@media (max-width: 1050px) {
  .confContentBlock .filterBlock form {
    @include justify-content(flex-start);
    .devider {
      min-width: 100%;
      width: 100%;
      height: 12px;
    }
  }
  .confContentBlock .filterBlock .countryBlock {

  }

  .confContentBlock .filterBlock .yearRangeBlock {
    margin-left: 20px;
  }
  .confContentBlock .filterBlock form .btnBlock{
    min-width: auto;
    @include flex(auto);
    margin-top: 0;
  }
}
@media (max-width: 790px) {
  .confContentBlock .filterBlock form .btnBlock{
    min-width: 100%;
    text-align: left;
    margin-top: 12px;

  }
}
@media (max-width: 575px) {
  .confContentBlock .filterBlock form {
    @include flex-direction(column);
    .devider {
      display: none;
    }
  }
  .confContentBlock .filterBlock .dateRangeBlock {
    min-width: 100%;
    input {
      @include flex(auto);
    }
  }
  .confContentBlock .filterBlock .yearRangeBlock {
    margin: 12px 0;
  }
  .confContentBlock .filterBlock .countryBlock {
    margin: 0 0 12px 0;
    min-width: 100%;
  }
  .confContentBlock .filterBlock .catBlock {
    min-width: 100%;
    margin: 0;
  }
  .confContentBlock .filterBlock form .btnBlock {
    text-align: center;
    margin-top: 25px;
    min-width: 100%;
    width: 100%;
    .btn {
      display: block;
      width: 100%;
      text-align: center;
    }
  }
  .confContentBlock .filterBlock {
    padding-left: 15px;
    padding-right: 15px;

  }
  .confContentBlock .confListBlock {
    padding-left: 0px;
    padding-right: 0px;
    .sListConf {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  .confListBlock .sListConf .addrBlock {
    right: 15px !important;

  }
  .confContentBlock .addConfBlock {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (max-width: 370px) {
  .confContentBlock .addConfBlock {
    padding-left: 15px;
    padding-right: 15px;
  }
  #confAddCaptcha {
    margin-left: -7px;
  }
}

.addConfBlock {
  display: none;
  background: #fff;
  padding: 30px 33px;
  position: relative;
  @include border-radius(0 0 20px 20px);
  @include box-shadow(0, 40px, 180px, rgba(44, 52, 60, 0.05));
  .shadowBlock {
    position: absolute;
    z-index: 1;
    width: 100%;
    top: 0;
    left: 0;
    height: 63px;
    background: linear-gradient(180deg, rgba(59, 74, 81, 0.05) 0%, rgba(60, 75, 82, 0) 100%);
  }
  form {
    @include flexbox();
    position: relative;
    z-index: 2;
    .leftBl {
      width: 266px;
      .text {
        margin-top: 30px;
        text-align: center;
        font-size: 14px;
        color: #3B4A51;
      }
      label {
        height: 177px;
        width: 100%;
        border: 1px dashed rgba(59, 74, 81, 0.4);
        @include border-radius(5px);
        display: block;
        background: url("../images/mainpage/image.svg") center center no-repeat;
        cursor: pointer;
        position: relative;
        &.fileSelected {
          background: none;

        }
        input {
          opacity: 0;
        }
        .imgBlock{
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          overflow: hidden;
          @include flexbox();
          @include align-items(center);

          img {
            display: block;
            margin: 0 auto;
            max-width: 100%;
            max-height: 100%;
          }
        }
      }
      .cancelFileSelection {
        margin-top: 10px;
        text-align: center;
        display: none;
        &.active {
          display: block;
        }
        span {
          border-bottom: 1px dashed #626262;
          cursor: pointer;
          color: #626262;
          font-size: 14px;
        }
      }

    }
    .rightBl {
      @include flex(auto);
      margin-left: 80px;
      .formBlock {
        @include box-shadow(none);
        max-width: 100%;
        padding: 0;
        margin-bottom: 10px;
        input {
          height: 56px;
          line-height: 56px;
        }
      }
      .formBlockRow  {
        @include flexbox();
        &.fRow {
          .formBlock {
            margin-right: 10px;
            &:last-child {
              margin-right: 0;
            }
            &.countryBlock,&.cityBlock {
              input {
                width: 125px;
              }
            }
          }
        }
        &.sRow {
          margin-top: 28px;
          @include flexbox();
          @include align-items(center);
        }
      }
      .descrBlock {
        textarea {
          height: 134px;
        }

      }
      .buttonBlock {


        .btn {
          padding: 0 31px;
          height: 56px;
          line-height: 56px;
          margin-right: 34px;
        }
      }
    }
  }
}

@media (max-width: 1100px) {
  .addConfBlock form .rightBl .formBlockRow {
    @include flex-wrap(wrap);
    @include justify-content(space-between);
  }
  .addConfBlock form .rightBl .formBlockRow.fRow .formBlock {
    margin-left: 0;
    margin-right: 0;
  }
  .addConfBlock form .rightBl .formBlockRow.fRow .formBlock.countryBlock input,
  .addConfBlock form .rightBl .formBlockRow.fRow .formBlock.cityBlock input {
    width: auto;
  }
}
@media (max-width: 1050px) {
  .addConfBlock form .rightBl .formBlockRow.sRow {
    @include flex-direction(column-reverse);
    @include align-items(center);
  }
  .addConfBlock form .rightBl .buttonBlock .btn {
    margin-right: 0;
    margin-top: 20px;
  }
}
@media (max-width: 940px) {
  .addConfBlock form .rightBl .formBlockRow.fRow {
    @include flex-direction(column);

  }
  .addConfBlock form .rightBl .formBlockRow.fRow .formBlock {
    min-width: 100%;
    @include flex(auto);
  }
  .addConfBlock form .rightBl .formBlockRow.fRow .formBlock.countryBlock input,
  .addConfBlock form .rightBl .formBlockRow.fRow .formBlock.cityBlock input {
    width: 100%;
  }
}
@media (max-width: 767.33px) {
  .addConfBlock form {
    @include flex-direction(column);
  }
  .addConfBlock form .leftBl {
    margin: 0 auto 40px auto;
  }
  .addConfBlock form .rightBl {
    margin-left: 0;
  }
}

.confListBlock {
  background: #FFFFFF;
  @include border-radius(20px);
  @include box-shadow(0,40px,180px,rgba(44, 52, 60, 0.05));
  padding: 30px 33px;
  margin-top: 20px;
  .heading {
    font-weight: 800;
    font-size: 24px;
    text-transform: uppercase;
    color: #3B4A51;
    background: url("../images/mainpage/calendar.svg") left center no-repeat;
    padding-left: 40px;
    margin-left: -15px;
  }
  .sListConf {
    padding: 36px 23px;
    @include flexbox();
    @include align-items(center);
    @include justify-content(space-between);
    border-bottom: 1px solid #ECEEF0;
    > div {
      margin-right: 20px;
      &:last-child {
        margin-right: 0;
      }
    }
    .btnDevider {
      display: none;
    }
    &:last-child {
      border-bottom: none;
      padding-bottom: 0;
    }

    .dateBlock {
      width: 79px;
      min-width: 79px;
      height: 67px;
      background: url("../images/mainpage/dateBg.svg") center center no-repeat;
      @include flexbox();
      @include flex-direction(column);
      @include align-items(center);
      @include justify-content(space-between);
      &.canceled {
        background: url("../images/mainpage/dateBg_canceled.svg") center center no-repeat;
        .text {
          text-transform: none;
        }
      }
      &.relocated {
        background: url("../images/mainpage/dateBg_relocated.svg") center center no-repeat;
        .date {
          font-weight: normal;
          font-size: 24px;
          line-height: 24px;
          text-transform: uppercase;
          color: #3B4A51;
          padding-top: 15px;
        }
        .text {
          text-transform: none;
          font-weight: normal;
          font-size: 16px;
          line-height: 16px;
        }
      }
      .date {
        font-weight: 300;
        font-size: 45px;
        line-height: 45px;
        text-transform: uppercase;
        color: #3B4A51;
      }
      .text {
        font-weight: normal;
        font-size: 16px;
        line-height: 16px;
        text-transform: uppercase;
        color: #3B4A51;
        margin-top: 5px;
      }
    }

    .logoBlock {
      min-width: 156px;
      width: 156px;
      img {
        width: 100%;
      }
    }

    .infoBlock {
      min-width: 200px;
      width: 200px;
      .name {
        font-weight: bold;
        font-size: 18px;
        color: #3B4A51;
        border-bottom: 1px dashed #3B4A51;
        display: inline-block;
      }
      .sub {
        display: inline-block;
        margin-top: 12px;
        font-weight: 300;
        font-size: 13px;
        color: #3B4A51;
        border: 1px solid #D4DCE0;
        @include border-radius(2px);
        padding: 5px 8px;
      }
    }

    .addrBlock {
      min-width: 200px;
      width: 200px;
      background: url("../images/mainpage/placeHolder.svg") left top no-repeat;
      padding-left: 30px;
      .city {
        font-weight: 600;
        font-size: 16px;
        line-height: 16px;
        color: #3B4A51;
      }
      .country {
        font-weight: normal;
        font-size: 12px;
        color: #8DA0A9;
        margin-top: 10px;
      }
    }

    .btnBlock {
      min-width: 133px;
      width: 133px;
      .btn {
        width: 100%;
        text-align: center;
        height: 45px;
        line-height: 45px;

        font-weight: 600;
        font-size: 14px;
        color: #FFFFFF;

      }
    }
  }
}


@media (max-width: 1050px) {
  .confListBlock .sListConf {
    @include flex-wrap(wrap);
  }

  .confListBlock .sListConf .btnBlock {
    margin-left: auto;
  }
  .confListBlock .sListConf .btnDevider {
    display: block;
    min-width: 100%;
    width: 100%;
  }
}
@media (max-width: 1000px) {
  .confListBlock .heading {
    margin: 20px 0 30px 0;
    display: inline-block;
  }
  .confListBlock {
    background: transparent;
    @include box-shadow(none);
    padding: 0;
    text-align: center;
  }
  .confListBlock .sListConf {
    position: relative;
    @include flex-direction(column);
    @include align-items(flex-start);

    background-color: #fff;
    @include border-radius(20px);
    padding: 20px 33px;
    @include box-shadow(0, 40px, 180px, rgba(44, 52, 60, 0.1));
    margin-bottom: 40px;
  }
  .confListBlock .sListConf .addrBlock {
    position: absolute;
    max-width: 50%;
    width: auto;
    min-width: auto;
    margin-top: 15px;
    margin-right: 0;
    text-align: left;
    right: 33px;
  }
  .innerContainer > .inner {
    padding-left: 0;
    padding-right: 0;
  }
  .confListBlock .sListConf .logoBlock {

    margin: 20px 0;
    width: 100%;
    img {
      display: block;
      margin: 0 auto;
      width: 156px !important;
    }
  }
  .confListBlock .sListConf .infoBlock {
    min-width: 100%;
    width: 100%;
    text-align: center;
    margin: 0 0 20px 0;
  }
  .confListBlock .sListConf .btnBlock {
    text-align: center;
    min-width: 100%;
    width: 100%;
    position: relative;
    margin: 0;
    .btn {
      position: absolute;
      width: 176px;
      padding: 0;
      margin-left: -88px;
      top: -6px;
      @include border-radius(5px);
    }
  }
  .confListBlock .sListConf:last-child {
    padding-bottom: 20px;
  }
}