/* Error: Undefined mixin.
 *   ,
 * 4 |     @include border-radius(20px);
 *   |     ^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *   '
 *   c:\users\вадим\desktop\advancets.org\css\pages\confpage.scss 4:5  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a   \2577 \a 4 \2502      @include border-radius(20px);\d\a   \2502      ^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a   \2575 \a   c:\\users\\\432 \430 \434 \438 \43c \\desktop\\advancets.org\\css\\pages\\confpage.scss 4:5  root stylesheet";
}
