.mainContent.sBlogContent {
  .sBlogContentBlock {
    > .inner {
      padding: 20px 25px;
      background: #FFFFFF;
      @include border-radius(5px);
      margin-top: 11px;

      .fRow {
        @include flexbox();
        @include align-items(center);
        @include justify-content(space-between);
        .category, .date {
          font-size: 14px;
          line-height: 17px;
          color: #ADB5B9;
        }
      }
      h1 {
        margin-top: 20px;
      }
      .sRow {
        margin-bottom: 23px;
        @include flexbox();

        .author {

          @include flexbox();
          @include align-items(center);
          .icon {
            width: 12px;
            min-width: 12px;
            height: 12px;
            margin-right: 5px;
            background: url("../images/author.svg") left top no-repeat;
          }
          .text {
            font-size: 14px;
            line-height: 17px;
            color: #ADB5B9;
          }
        }
        .views {
          @include flexbox();
          @include align-items(center);
          margin-left: 30px;
        }
        .icon {
          width: 13px;
          min-width: 13px;
          height: 9px;
          margin-right: 5px;
          background: url("../images/view.svg") left top no-repeat;
        }
        .text {
          font-size: 14px;
          line-height: 17px;
          color: #ADB5B9;
        }
      }
      p {
        font-weight: normal;
        font-size: 15px;
        line-height: 20px;
        color: #3B4A51;
        margin-bottom: 30px;
      }
      .line {
        height: 5px;
        background: #F6F8F9;
        margin: 10px -25px 30px -25px;
      }
      .authorBlock {
        .heading {
          font-weight: 800;
          font-size: 20px;
          line-height: 24px;

          color: #3B4A51;
          text-transform: uppercase;
          margin-bottom: 46px;
        }
        .fRow {
          @include flexbox();
          @include align-items(flex-start);
          .icon {
            width: 123px;
            min-width: 123px;
            height: 123px;
            background: url("../images/authorBlog.svg") left top no-repeat;
            -webkit-background-size: cover;
            background-size: cover;
            margin-right: 24px;
          }
          .info {
            .heading {
              font-weight: 600;
              font-size: 18px;
              line-height: 20px;
              color: #3B4A51;
              margin-bottom: 10px;
            }
            .text {
              font-weight: normal;
              font-size: 15px;
              line-height: 20px;
              color: #3B4A51;
            }
          }
        }
      }

      .subscribeBlock {
        background: url("../images/subscribeBg.svg") left top no-repeat;
        background-size: cover;
        padding: 50px 40px;
        margin: 50px -25px 40px -25px;
        text-align: center;
        .heading {
          font-weight: 800;
          font-size: 20px;
          line-height: 24px;
          text-align: center;
          color: #FFFFFF;
        }
        .text {
          font-size: 14px;
          line-height: 17px;
          text-align: center;
          color: #FFFFFF;
          margin: 5px 0 30px 0;
        }
        .formBlock {
          @include flexbox();
          @include align-items(center);
          @include justify-content(center);
          .btn {
            margin-left: 10px;
            height: 48px;
            line-height: 48px;
            padding: 0 20px;

            font-weight: 600;
            font-size: 14px;
            color: #FFFFFF;
          }
        }
      }

      .commentBlock {
        .heading {
          font-weight: 800;
          font-size: 20px;
          line-height: 24px;

          color: #3B4A51;
          text-transform: uppercase;
          margin-bottom: 25px;
        }
        textarea {
          height: 142px;
          resize: none;
        }
        .sRow {
          margin-top: 14px;
          @include flexbox();
          .formBLock {
            width: 33%;
            min-width: 33%;
            &:nth-child(2) {
              margin-left: .5%;
              margin-right: .5%;
            }
            input {
              width: 100%;
            }
          }
        }
        .btn {
          height: 46px;
          line-height: 46px;
          padding: 0 60px;

          font-weight: 600;
          font-size: 14px;
          color: #FFFFFF;

        }
      }
    }

    .relatedNewsBlock {
      margin-top: 43px;
      .heading {
        font-weight: 800;
        font-size: 20px;
        line-height: 24px;

        color: #3B4A51;
        text-transform: uppercase;
        margin-bottom: 18px;
      }
      .relatedNewsList {
        @include flexbox();
        @include align-items(flex-start);
        .sNewsBl {
          padding: 17px 12px;
          min-width: 32%;
          width: 32%;
          background: #FFFFFF;
          @include border-radius(5px);
          margin-right: 2%;
          &:last-child {
            margin-right: 0;
          }
          img {
            display: block;
            width: 100%;
            margin: 0 auto;
          }
          .text {
            margin-top: 14px;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;

            color: #3B4A51;
          }
        }
      }
    }
  }

}

@media (min-width: 1700px) {
  .mainContent.sBlogContent .sBlogContentBlock .relatedNewsBlock .relatedNewsList .sNewsBl {
    min-width: 25%;
    width: 25%;
  }
}

@media (max-width: 670px) {
  .mainContent.sBlogContent .sBlogContentBlock .relatedNewsBlock .relatedNewsList {
    @include flex-wrap(wrap);
  }
  .mainContent.sBlogContent .sBlogContentBlock .relatedNewsBlock .relatedNewsList .sNewsBl {
    min-width: 100%;
    width: 100%;
    margin-bottom: 20px;
    a {
      @include flexbox();
      @include justify-content(flex-start);
      @include align-items(flex-start);
      img {
        width: 75px;
        min-width: 75px;
        margin: 0 20px 0 0;
        @include border-radius(5px);
        overflow: hidden;
      }
    }

  }
  .mainContent.sBlogContent .sBlogContentBlock .relatedNewsBlock .relatedNewsList .sNewsBl .text {
    margin-top: 0;
  }

  .mainContent.sBlogContent .sBlogContentBlock > .inner .commentBlock .sRow {
    @include flex-wrap(wrap);
  }
  .mainContent.sBlogContent .sBlogContentBlock > .inner .commentBlock .sRow .formBLock {
    min-width: 100%;
    width: 100%;
    margin: 0 0 14px 0 !important;
  }
  .mainContent.sBlogContent .sBlogContentBlock > .inner .authorBlock .fRow .icon {
    min-width: 30px;
    width: 30px;
    height: 30px;
  }
  .mainContent.sBlogContent .sBlogContentBlock > .inner .subscribeBlock .formBlock {
    @include flex-direction(column);
  }
  .mainContent.sBlogContent .sBlogContentBlock > .inner .subscribeBlock .formBlock .btn {
    margin: 16px 0 0 0;
  }
}