.tizerPageContent {
  .searchHeading {
    margin: 36px 0 24px 0;
    min-height: 54px;
    @include flexbox();
    @include justify-content(space-between);
    @include align-items(center);
    .text {
      font-weight: normal;
      font-size: 18px;
      color: #3B4A51;
    }
    .count {
      font-weight: bold;
      font-size: 18px;
      line-height: 22px;
      color: #3B4A51;
    }
  }
  .filteredResultBlock {
    opacity: 0;
    @include flexbox();
    @include align-items(center);
    background: #E9F2F6;
    border: 1px solid #D1E4EC;
     @include border-radius(3px);
    padding: 12px 15px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    &.active {
      opacity: 1;

    }
    &.isFixed {
      position: fixed;
      right: 20px;
      top: 20px;
      z-index: 1;
    }
    .text {
      font-weight: 300;
      font-size: 14px;
      line-height: 17px;
      color: #3B4A51;
    }
    .count {
      min-width: 53px;
      background: #FFFFFF;
      @include border-radius(3px);
      text-align: center;
      font-weight: 600;
      font-size: 14px;
      line-height: 28px;
      height: 28px;
      color: #3B4A51;
      margin: 0 4px 0 10px;
    }
    .buttonsBlock {
      @include flexbox();

      .btnTrash {
        background: url("../images/trash_icon.svg") center center no-repeat;
        width: 32px;
        min-width: 32px;
        height: 28px;
        background-color: #EC8484;
        @include border-radius(3px);
      }
      .btnGreen {
        height: 28px;
        line-height: 28px;
        background-image: url("../images/download_icon.svg");
        background-position: left 11px center;
        padding: 0 10px 0 26px;
        margin-left: 18px;
        font-weight: 500;
        font-size: 12px;
        color: #FFFFFF;
      }
    }
  }
}
@media(max-width: 650px) {
  .tizerPageContent .searchHeading {
    @include flex-wrap(wrap);
    .headingBlock {
      min-width: 100%;
      width: 100%;
      @include flex(auto);

    }
    .filteredResultBlock {
      margin-top: 10px;
    }
  }
}
