.breadCrumbsBlock {
  background: #EFF3F5;
  @include border-radius(3px);
  padding: 0 11px;
  a,span {
    display: inline-block;
  }
  a {
    font-size: 12px;
    color: #3B4A51;
    &:hover,&:active,&:focus {
      opacity: .9;
    }
    &.mainPage {
      .icon {
        display: inline-block;
        width: 10px;
        height: 9px;
        margin-right: 3px;
        background: url("../images/home.svg") left top no-repeat;
      }
    }
  }
  .devider {
    font-size: 12px;
    line-height: 15px;
    color: #3B4A51;
    margin: 0 5px;
  }
  .current {
    font-weight: 300;
    font-size: 12px;
    color: #5E7078;
  }
}